{
    "space": "Taipei Hackerspace",
    "logo": "http://taipeihackerspace.github.io/blogimg/hackerspace500.png",
    "url": "http://tpehack.no-ip.biz",
    "location": {
        "address": "4F, No 26, Lane 133, Taiyuan Rd, Taipei, Taiwan, 103",
        "lat": 25.052923,
        "lon": 121.516865
    },
    "state" : {
	"icon" : {
	    "open" : "http://tpehack.no-ip.biz/img/icons/check32.png",
	    "closed" : "http://tpehack.no-ip.biz/img/icons/sleep32.png"
	},
	"message": "There might still be someone who's not checked in, to be sure you can always call."
    },
    "contact": {
        "phone": "+886-2-2550-7630",
        "facebook": "https://www.facebook.com/TaipeiHackerspace",
        "google": {
            "plus": "https://plus.google.com/100085911445404984901/"
        },
        "ml": "taipeihackerspace@googlegroups.com"
    },
    "issue_report_channels": [
        "ml"
    ],
    "PORT": 12100,
    "OPENURL": "http://tpehack.no-ip.biz/checkin/inspace"
}
